.container {
    width: 75%;
    height: 65vh;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    /* border: 1px solid red; */
}

.card, .detailedCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 3px;
}

.card {
    height: 5rem;
    margin-bottom: -2px;
    align-items: center;
}

.card p {
    padding-left: 0.45rem;
    /* border: 1px solid blue; */
}

.detailedCard {
    height: 20rem;
    align-items: flex-start;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

.arrow {
    box-sizing: border-box;
    width: auto;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
    /* padding: 2.5rem 0rem; */
    /* border: 1px solid red; */
}

.arrow p {
    transform: scale(1.25);
}

.card:hover {
    cursor: pointer;
}

.card:hover .arrow {
    animation-name: bouncingArrow;
    animation-duration: 0.25s;
    animation-iteration-count: 4;
}

@keyframes bouncingArrow {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 10px;
    }
}

.playerDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
}