.grid {
    width: 17.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-radius: 20px;
    border: 2px solid white;
    background: rgba(0,0,0,1);
    background: linear-gradient(62deg, rgba(200,200,200,0.25) 0%, rgba(50,50,50,0.5) 60%, rgba(200,200,200,0.25) 100%); 
}

.grid h3 {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 95%;
    text-align: center;
}

.grid p {
    font-size: 1.2rem;
    font-weight: 400;
}